* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(to bottom right, #E65758, #771D32);
    display: flex;
    justify-content: center;
}

.contenedor {
    height: 100vh;
    padding: 2rem;
    min-width: none;
    width: 1200px;
    max-width: 1200px;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 2rem;
}

nav h1 {
    font-size: 36px;
    color: #ffffff;
    text-shadow: -1px 2px 2px #000;
}

nav button {
    width: 11rem;
    height: 3rem;
    background: #fc948a;
    font-size: 20px;
    color: #f2f2f2;
    text-shadow: 1px 1px 1px #000;
    border-radius: .3rem;
    border: none;
}

nav button:active {
    background: #fc948a7e;
}

main {
    height: 90%;
    border-radius: .3rem;
    display: inline-flex;
    overflow-y: scroll;
    width: 100%;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, #fc948a 0%, #f8dfdf 100%);
    padding: 2rem 2rem 2rem 2rem;
    gap: 2rem;
}

main::-webkit-scrollbar {
    width: 1rem;
}

main::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background: #E65758;
}

.container-select {
    gap: 1rem;
    display: flex;
    justify-content: flex-start;
    height: 3rem;
    align-items: center;
}

.container-select input {
    border-radius: .3rem;
    height: 3rem;
    width: 100%;
    box-shadow: -2px 2px 4px #00000046;
    padding-inline: 0.5rem;
    font-size: 20px;
}

.container-select i {
    color: #fff;
    text-shadow: -2px 2px 2px #000000a4;
}

select {
    height: 3rem;
    border-radius: 0.4rem;
    width: 15rem;
    font-size: 20px;
    padding-left: 0.5rem;
    box-shadow: -2px 2px 4px #00000046;
}

table {
    text-align: start;
    font-size: 20px;
    border-radius: 0.4rem;
    background-color: #ffffff;
    box-shadow: -2px 2px 4px #00000046;
}

table tr {
    height: 54px;
}

tr td:first-child {
    width: 80px;
    text-align: center;

}

thead {
    text-shadow: -1px 1px 2px #000000da;
    background: #E65758;
    color: #fff;
}

tbody tr {
    transition: 0.3s;
    
}

tbody tr:hover {
    background:#e7e7e7;
}

.titulo {
    padding-left: .5rem;
}

.disponibilidad {
    width: 190px;
    text-align: center;
}

.opciones {
    text-align: center;
    width: 150px;
}

.opciones i {
    transition: .2s;
    cursor: pointer;
}

.opciones i:hover {
    color: #E65758;
    transform: scale(1.15);
}